@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root{
    --ff-primary:'Source Code Pro', sans-serif;
    --ff-secondary:'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-acent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: .25em .25em .75em rgba(0,0,0,.25),
        .125em .125em .25em rgba(0,0,0,.15);

}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.3rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

section {
    padding: 5em 2em;
}

/* General Styles */

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);

}

img {
    display: block;
    max-width: 100%;
}

strong{font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-acent);
    outline-offset: 2px;
}

.btn{
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-acent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: 200ms ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section_title{
margin-bottom: .25em;
font-weight: var(--fw-reg);
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);

}

.section_subtitle_intro,
.section_subtitle_about {
    background: var(--clr-acent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;

}

.section_title_intro strong{
    display: block;
}

nav{
    display: none;
}

/* Intro Section */

.intro {
position: relative;

}

.intro_img{
    box-shadow: var(--bs);
}

.section_subtitle_intro{
    display: inline-block;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1190px;
    margin: 0 auto;
}
@media (min-width: 650px) {
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section_subtitle_intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100%+1.5em);
    }   
}

.my-services{
    background-color: var(--clr-dark);
    background-image: url("https://images.unsplash.com/photo-1560457079-9a6532ccb118?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80");
    background-blend-mode: multiply;
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section_title_services{
    color: var(--clr-acent);
    position: relative;
}

.section_title_services::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: .25;
}

.services {
    margin-bottom: 4em;
}

.service{
    max-width: 500;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service{
        margin-left: 2em;
    }
}